@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  border-color: rgb(229, 231, 235);
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #ffffff;
  color: #000000;
}
